.container{
  width: 1280px;
  height: auto;
  margin:  0 auto;
}

.contain{
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 45px;
}

.left{
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.right{
  width: 50%;
  height: auto;
  margin: 0 auto;
}